
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: white;
  color: black; 
  font-family: Arial, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw; 
}


/* Styles for the app container */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto; 
  height: auto;
  /* padding: 30px; */
 }


input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  width: 50%; 
  flex-grow: 1;
  height: 5px;
  background: #FFFE00; 
  /* outline: none; */
  opacity: 1; 
  transition: opacity 0.2s;
}

/* Hover effect for sliders */
input[type="range"]:hover {
  opacity: 1; 
}

/* the thumb of the slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 80px; 
  height: 34.43px;
  /* background: black; */
  background: url("./assets/co-black.png");
  border-radius: 20px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  cursor: pointer;
}


input[type="color"] {
  width: 50px; 
  height: 30px; 
  border: none; 
  cursor: pointer; 
  margin-left: 10px; 
}

@font-face {
  font-family: "balgin-black";
  src: local("balgin"),
    url("./fonts/Fontspring-DEMO-balgindisplay-black.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "balgin-regular";
  src: local("balgin-regular"),
    url("./fonts/Fontspring-DEMO-balgindisplay-regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "balgin-bold";
  src: local("balgin-bold"),
    url("./fonts/Fontspring-DEMO-balgindisplay-bold.otf") format("opentype");
  font-weight: normal;
}

h1 {
  font-family: "balgin-bold";
  font-size: 2.5rem;
  /* font-style: italic; */
  margin-bottom: 2rem;
  text-align: center;
  }

.bigTitle {
  font-size: 5vmax;

}

h2 {
    font-family: "balgin-regular";
    /* font-style: italic; */
    margin-bottom: 1rem;
    text-align: center;
    }

h3 {
    font-family: "balgin-regular";
    /* font-style: italic; */
    margin-bottom: 1rem;
    text-align: center;
    /* width: 500px; */
    }

.landing {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered {
  height: 83vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0;
  background-image: url('./assets/co.png');
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; /* Center the image */
}

.background {
  background-color: #00FF75;
}

button {
  background: none;
    border: 2px solid gray;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-family: "balgin-regular";
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin: auto;
  /* margin-bottom: 100px; */
}

button.floating {
  position: absolute;
  top: 40px; left: 40px;
}

Text {
  font-family: "balgin-regular";
}

.scroll {
  height: 8.5vh;
  overflow: hidden;
}

.image {
  height: 8.5vh;
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 50%; */
}

.d-flex {
  display: flex;
  transform: translateX(calc(100vw));
  overflow: visible;
  animation: animateContainer 10s linear forwards infinite;
  animation-play-state: paused;
}

@keyframes animateContainer {
  from {
    transform: translateX(calc(100vw));
  }
  to {
    transform: translateX(calc(-100%));
  }
}

.nextQuestion {
  margin-bottom: 50px;
  margin-top: 50px;
}

.CanvasContainer {
  position: relative;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /* animation: moveGroup 10s infinite alternate linear; Adjust duration and animation type as needed */
}

@keyframes moveGroup {
  0% {
    transform: translate(5, 0);
  }
  100% {
    transform: translate(50px, 50px); /* Adjust distance and direction of movement */
  }
}

.darkBg {
  background-color: black;
  overflow: scroll;
  margin: 0;
}

.exampleWrapperDiv {
  /* border: 8px solid; */
  /* border-image: linear-gradient(45deg, turquoise, greenyellow) 1; */
  width: 20vw;
  height: 33vh;
  position: absolute;
  z-index: 1;
  /* margin: auto; */
  /* background-color: "white"; */
}


.rotating-curved-text {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}